<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>New Question</title>
</head>
<body>
<h1>New Question</h1>
<form action="/tests/<%= @test.id %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="question-body">Body:</label>
    <input type="text" name="question[body]" id="question-body">
  </p>

  <input type="submit" value="Create">
</form>
</body>
</html>
