<p><%= current_question_header(@test_passage) %> &emsp;&emsp; <span id='timer' style="font-weight: bold;"></span></p>
<div class="my-progress">
  <div class="my-bar"></div>
</div>
<b><%= @test_passage.current_question.body %></b>
