<footer class="text-center p-4 mt-auto" style="background: #FFFCFE;">
  <p class="text-decoration-none text-muted">
    <%= current_year %>
    <%= github_url('@muralo', 'https://www.github.com/pejath') %>
  </p>
</footer>
