<h1>Editing Answer</h1>

<p>
  <%= @answer.question.body %>
</p>

<%= render 'form', answer: @answer %>

<%= link_to t('action.show'), admin_answer_path(@answer) %> |
<%= link_to t('action.back'), admin_question_path(@answer.question) %>
