<h1><%= question_header(@question) %></h1>

<%= render 'form', question: @question %>

<%= link_to t('action.show'), admin_question_path(@question) %> |
<%= link_to t('action.back'), admin_question_path(@question) %>
