<div class="card mx-3 my-3" style="background: #FFFCFE; padding: 20px 24px;">
  <h4 class="card-title"><%= test.title %></h4>
  <p class="card-subtitle mb-2 text-body-secondary">Уровень: <%= test.level %>|
    Категория: <%= test.category.title.truncate(15) %></p>
  <p><%= link_to "Посмотреть", test_path(test), style: '' %></p>
</div>
